@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>商品在庫管理システムへようこそ</h1>
    <p class="lead">画面上部のヘッダーもしくは以下のボタンから各管理画面へ移動できます</p>
    <p><a href="http://localhost:54630/Home/About" class="btn btn-primary btn-lg">管理画面へ </a></p>
</div>

